@import "../../variables.scss";

.ui-dropdown{
  position: relative;
  z-index: 1050;

  .ui-dropdown-wrapper{
    position: absolute;
    background: #fff;
    width: -webkit-fill-available;
    border: 1px solid #ccc;
    border-bottom-width: 0px;
    box-shadow: 0px 0px 1px 1px #ccc;
    overflow-y: auto;
    max-height: 200px;

    &::-webkit-scrollbar {
      width: $scrollbar-width;
    }

    &::-webkit-scrollbar-track {
      background: #ccc;
    }
   
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: #000;
    }
  }

}